{% extends "social_media_planner/materialize/post/post_detail.html" %}


{% block breadcrumbs %}
  {{ block.super }}
  <i class="fa fa-angle-right"></i>
  <a href="{% url 'social_media_planner:post_edit_attachments' post.id %}">Edit attachments</a>
{% endblock breadcrumbs %}


{% block page_title %}
  Edit attachments of {{ post.label }}
{% endblock page_title %}


{% block content %}

<div class="row">
  <div class="col s12">
    <form action="{{ request.get_full_path }}" method="POST">
      {% csrf_token %}

      {% include "django_helper_forms/forms/materialize/form_template_errors.html" %}

      {% include "social_media_planner/materialize/attachments/edit_attachments.html" %}

      <p>
        <input class="btn green" type="submit" value="Save" />
        <a href="{{ post.get_absolute_url }}" class="btn">Back to post</a>
      </p>

    </form>

  </div>
</div>

{% endblock content %}