{% extends post|yesno:"social_media_planner/materialize/post/post_detail.html,social_media_planner/materialize/post/post.html" %}


{% load django_utils_filters %}


{% block extra_css_plugins %}
  {{ block.super }}
  {% include "social_media_dashboard/shortcuts/forms_css.html" %}
{% endblock extra_css_plugins %}


{% block extra_scripts %}
  {{ block.super }}
  {% include "social_media_dashboard/shortcuts/forms_js.html" %}
  {% include "django_helper_forms/forms/materialize/scripts.html" %}
  <script>
  $(function(){
    $('#id_key_content > option').each(function(index) {
      var color = $(this).attr('data-color');
      var span = $(".key-content-select ul.select-dropdown li:nth-child(" + (index + 1) + ")>span");
      span.css('color', color);
    });
  });
  </script>
{% endblock extra_scripts %}


{% block page_title %}
  <i class="fa fa-comments"></i>
  Create post idea
{% endblock page_title %}


{% block breadcrumbs %}
  {{ block.super }}
  <i class="fa fa-angle-right"></i>
  <a href="{% url 'social_media_planner:post_add' %}?add_idea=1">Add</a>
{% endblock breadcrumbs %}


{% block content %}

  <form action="{{ request.get_full_path }}" method="post" id="post_form" class="django form-horizontal">
    {% csrf_token %}

    {% include "django_helper_forms/forms/materialize/form_template_hidden.html" %}

    {% include "django_helper_forms/forms/materialize/form_template_bottom.html" %}

    <div class="row">
      <div class="col s6">
        {% include "django_helper_forms/forms/materialize/form_template_label_field.html" with field=form.label %}
        {% include "django_helper_forms/forms/materialize/form_template_label_field.html" with field=form.tags %}
        {% include "django_helper_forms/forms/materialize/form_template_label_field.html" with field=form.publish_date_from active_always=1 %}
      </div>
      <div class="col s6">
        {% include "django_helper_forms/forms/materialize/form_template_label_field.html" with field=form.category %}

        <div class="input-field select key-content-select">
          <select id="{{ form.key_content.auto_id }}" name="{{ form.key_content.html_name }}" class="select2">
            <option value="">---------</option>
            {% for key_content in key_contents %}
              <option value="{{ key_content.id }}" data-color="{{ key_content.color }}" {% if key_content == form.instance.key_content %}selected="selected"{% endif %}>{% for i in key_content.level|int_range %}&nbsp;{% endfor %}{{ key_content.label }}</option>
            {% endfor %}
          </select>
          {% include "django_helper_forms/forms/materialize/form_template_label.html" with field=form.key_content %}
        </div>

        {% include "django_helper_forms/forms/materialize/form_template_label_field.html" with field=form.publish_date_to active_always=1 %}
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        {% include "django_helper_forms/forms/material/form_template_label_field.html" with field=form.post_reason %}
      </div>
    </div>

  </form>

{% endblock content %}