{% extends "social_media_planner/materialize/social_media_planner.html" %}


{% block breadcrumbs %}
  {{ block.super }}
  <i class="fa fa-angle-right"></i>
  <a href="{% url 'social_media_planner:post_list' %}">Posts</a>
{% endblock breadcrumbs %}


{% block sidebar_title %}
  Posts
{% endblock sidebar_title %}


{% block sidebar %}
  {{ block.super }}
  <a href="{% url 'social_media_planner:post_list' %}" class="collection-item"><i class="fa fa-list"></i> List posts</a>
  <a href="{% url 'social_media_planner:post_add' %}" class="collection-item"><i class="fa fa-plus"></i> Add post</a>
{% endblock sidebar %}
