<ul class="collection social-media-planner-icon-list">
{% for post in post_ideas %}
    <li class="collection-item avatar">
      {% if post.category.icon %}
        <i class="fa {{ post.category.icon }} circle tooltipped " {% if post.key_content %}style="background-color: {{ post.key_content.color }}; color: {{ post.key_content.key_content_color_text }};"{% endif %} data-tooltip="{{ post.category }} {% if post.key_content %}({{ post.key_content }}){% endif %}" data-position="left"></i>
      {% else %}
        <i class="fa fa-pencil-square-o circle" {% if post.key_content %}style="background-color: {{ post.key_content.color }}; color: {{ post.key_content.key_content_color_text }};"{% endif %}></i>
      {% endif %}
      <a href="{{ post.get_absolute_url }}" {% if post.key_content %}style="color: {{ post.key_content.color }}"{% else %}class="grey-text" {% endif %}>{{ post.label }}</a>
    </li>
{% endfor %}
</ul>
