{% extends "social_media_planner/materialize/post/post.html" %}


{% block sidebar %}

  {{ block.super }}
  <a class="collection-item"><hr /></a>
  <a class="collection-item"><span class="grey-text">Filters</span></a>
  <a href="{% url 'social_media_planner:post_list' %}?only_published=1" class="collection-item">Only published posts</a>
  <a href="{% url 'social_media_planner:post_list' %}?only_not_published=1" class="collection-item">Only not published posts</a>
  <a href="{% url 'social_media_planner:post_list' %}?only_mine=1" class="collection-item">Only mine</a>
  <a class="collection-item">
    <form class="no-padding no-margin" method="GET" action="{% url 'social_media_planner:post_list' %}">
      <select class="browser-default w-200" name="post_created_by" style="display: inline-block">
        <option value="">Post created by:</option>
        {% for post_creator in post_creators %}
          <option value="{{ post_creator.username }}" {% if post_created_by == post_creator.username %}selected="selected"{% endif %}>{{ post_creator.get_full_name }}</option>
        {% endfor %}
      </select>
      <button class="btn btn-small btn-small-icon no-box-shadow margin-left light-blue lighten-1"><i class="fa fa-chevron-right"></i></button>
    </form>
  </a>

{% endblock sidebar %}


{% block content %}

  <table class="table table-striped table-objects-list table-hover responsive-table" id="posts_list">
    <thead>
    <tr>
      <th style="width: 30px;"></th>
      <th>Label</th>
      <th>Publish date (from)</th>
      <th>Publish date to</th>
      <th>Key content</th>
      <th>Author</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for post in object_list %}
      <tr>
        <td class="center-align">
          {% if post.help_needed and not post.status.codename == 'published' %}
            <i class="fa fa-exclamation purple-text tooltipped" data-tooltip="Help needed!" data-position="right"></i>
          {% endif %}
        </td>
        <td>
          <a href="{% url 'social_media_planner:post_detail' post.id %}">
            {{ post.label }}
          </a>
        </td>
        <td>
          {% if post.publish_date %}{{ post.publish_date }}{% elif post.publish_date_from %}{{ post.publish_date_from }}{% endif %}
        </td>
        <td>
          {% if post.publish_date_to %}{{ post.publish_date_to }}{% endif %}
        </td>
        <td>
          <span style="color: {{ post.key_content.color }}">{{ post.key_content }}</span>
        </td>
        <td>
          {{ post.created_by.get_full_name }}
        </td>
        <td>
          {% for post_content in post.post_contents.all %}
            <i class="fa {{ post_content.post_content_type.icon }} {% if post_content.is_published %}green-text{% endif %}"></i>
          {% endfor %}
        </td>
        <td>
          <!--PERMESSIHERE-->
          {% if perms.social_media_planner.change_post %}
            <a href="{% url 'social_media_planner:post_edit' post.id %}"><i class="fa fa-edit"></i></a>
          {% endif %}
          {% if perms.social_media_planner.delete_post %}
            <a href="{% url 'social_media_planner:post_delete' post.id %}"><i class="fa fa-times"></i></a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% include "django_utils/lists/materialize/navigator.html" %}

{% endblock content %}
