{% extends "social_media_planner/materialize/post/post_detail.html" %}


{% block breadcrumbs %}
  {{ block.super }}
  <i class="fa fa-angle-right"></i>
  <a href="{% url 'social_media_planner:post_attach_files' post.id %}">Attach files</a>
{% endblock breadcrumbs %}


{% block page_title %}
  Add attachments to {{ post.label }}
{% endblock page_title %}


{% block content %}

  <div class="row">
    <div class="col s12 l6">
      <form action="{% url 'social_media_planner:post_attach_files' post.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {% include "django_helper_forms/forms/materialize/form_template_errors.html" %}

        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            {{ form.attachments }}
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload one or more files">
          </div>
        </div>

        <input type="hidden" name="destination_path" value="{{ post.attached_files_path }}" />

        <p>
          <input class="btn green" type="submit" value="Upload" />
          <a href="{{ post.get_absolute_url }}" class="btn">Back to post</a>
        </p>

      </form>

    </div>
  </div>

{% endblock content %}