{% if post_content.post_content_reviews.all %}
  <div class="row" id="post_content_reviews_{{ post_content.id }}" {% if post_content.is_published %}style="display: none;"{% endif %}>
    <ul class="collapsible" data-collapsible="accordion">
      {% for post_content_review in post_content.post_content_reviews.all %}
        <li>
          <div class="collapsible-header">
            <i class="fa
              {% if post_content_review.review_type == 'note' %}fa-file-o{% elif post_content_review.review_type == 'important' %}fa-exclamation-circle{% elif post_content_review.review_type == 'warning' %}fa-exclamation{% elif post_content_review.review_type == 'rewrite' %}fa-pencil{% endif %}
              {% if post_content_review.review_checked_by %}grey-text{% else %}
                {% if post_content_review.review_type == 'note' %}light-blue-text{% elif post_content_review.review_type == 'important' %}red-text{% elif post_content_review.review_type == 'warning' %}yellow-text text-darken-2{% endif %}
              {% endif %}
              "></i> <span class="{% if post_content_review.review_checked_by %}grey-text{% endif %}">{{ post_content_review.created_by.get_full_name }} - {{ post_content_review.creation_date }}</span></div>
          <div class="collapsible-body">
            {% if post_content_review.title %}
              <div class="padding">
                <span class="grey-text text-lighten-1">Suggested title: </span> {{ post_content_review.title }}
              </div>
            {% endif %}
            <div class="padding">{{ post_content_review.content|linebreaksbr }}</div>
            <div class="row padding">
              {% if post_content_review.created_by == request.user or post_content.created_by == request.user or perms.social_media_planner.can_manage_post_content_reviews %}
                {% if not post_content_review.review_checked %}
                  {% if not post_content.is_published %}
                    <form action="{% url 'social_media_planner:post_content_review_validate' post.id post_content.id post_content_review.id 'review' %}" method="POST" class="no-margin no-padding" style="display: inline-block;">
                      <button type="submit" class="btn btn-small green white-text" name="action"
                          >I have read the review</button>{% csrf_token %}
                    </form>
                    {% if post_content.created_by == request.user or perms.social_media_planner.can_manage_post_content_reviews %}
                      <form action="{% url 'social_media_planner:post_content_review_set_as_content' post.id post_content.id post_content_review.id %}" method="POST" class="no-margin no-padding" style="display: inline-block;">
                        <button type="submit" class="btn btn-small green white-text" name="action"
                            >Set content from this review</button>{% csrf_token %}
                      </form>
                    {% endif %}
                  {% else %}
                    <span class="grey-text text-lighten-1">This review was not checked</span>
                  {% endif %}
                {% else %}
                  {% if not post_content.is_published %}
                    <form action="{% url 'social_media_planner:post_content_review_invalidate' post.id post_content.id post_content_review.id 'review' %}" method="POST" class="no-margin no-padding" style="display: inline-block;">
                      <button type="submit" class="btn btn-small green white-text tooltipped" name="action"
                              data-tooltip="{{ post_content_review.review_checked_by.get_full_name }} - {{ post_content_review.review_checked_date }}" data-position="top"
                          ><i class="fa fa-check"></i> Review checked</button>{% csrf_token %}
                    </form>
                  {% else %}
                    <span class="grey-text text-lighten-1"><i class="fa fa-eye"></i> Checked by {{ post_content_review.review_checked_by.get_full_name }} - {{ post_content_review.review_checked_date }}</span>
                  {% endif %}
                {% endif %}
              {% else %}
                {% if not post_content_review.review_checked %}
                  <span class="grey-text text-lighten-1">This review has not yet been checked</span>
                {% else %}
                  <span class="grey-text text-lighten-1"><i class="fa fa-eye"></i> Checked by {{ post_content_review.review_checked_by.get_full_name }} - {{ post_content_review.review_checked_date }}</span>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  {% if post_content.is_published %}
    <span id="button_show_post_content_reviews_{{ post_content.id }}" class="grey-text pointer" onclick="toggle_post_content_review({{ post_content.id }}, 'show')"><i class="fa fa-eye"></i> Show reviews</span>
    <span id="button_hide_post_content_reviews_{{ post_content.id }}" class="grey-text pointer" style="display: none" onclick="toggle_post_content_review({{ post_content.id }}, 'hide')"><i class="fa fa-eye-slash"></i> Hide reviews</span>
  {% endif %}
{% endif %}
