{% extends "social_media_planner/materialize/post/post.html" %}

{% load static from staticfiles %}
{% load django_utils_filters %}


{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'social_media_dashboard/js/3rd-party/jquery-plugins/lightbox2/css/lightbox.min.css' %}" />
{% endblock extra_css %}


{% block extra_scripts %}
  {{ block.super }}
  <script src="{% static 'social_media_dashboard/js/3rd-party/jquery-plugins/lightbox2/lightbox.min.js' %}" type="text/javascript"></script>
  <script>
    $(document).ready(function(){
      $('.collapsible').collapsible({
        accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
      });
    });

    function toggle_post_content_review(review_id, action) {
      if (action == 'show') {
        $("#post_content_reviews_" + review_id).show();
        $("#button_show_post_content_reviews_" + review_id).hide();
        $("#button_hide_post_content_reviews_" + review_id).show();
      } else {
        $("#post_content_reviews_" + review_id).hide();
        $("#button_show_post_content_reviews_" + review_id).show();
        $("#button_hide_post_content_reviews_" + review_id).hide();
      }
    }
  </script>
{% endblock extra_scripts %}


{% block sidebar %}
  <!--PERMESSIHERE-->
  <a href="{% url 'social_media_planner:post_list' %}" class="collection-item"><i class="fa fa-list"></i> List posts</a>
  {% if perms.social_media_planner.change_post %}
    <a href="{% url 'social_media_planner:post_edit' post.id %}" class="collection-item"><i class="fa fa-edit"></i> Edit this post</a>
  {% endif %}
  {% if perms.social_media_planner.delete_post %}
    <a href="{% url 'social_media_planner:post_delete' post.id %}" class="collection-item"><i class="fa fa-times"></i> Delete this post</a>
  {% endif %}
  {% if perms.social_media_planner.can_manage_post_attachments %}
    <a href="{% url 'social_media_planner:post_attach_files' post.id %}" class="collection-item"><i class="fa fa-file-o"></i> Attach files</a>
  {% endif %}
  {% if perms.social_media_planner.can_manage_post_attachments %}
    <a href="{% url 'social_media_planner:post_edit_attachments' post.id %}" class="collection-item"><i class="fa fa-edit"></i> Edit attachments</a>
  {% endif %}
{% endblock sidebar %}


{% block breadcrumbs %}
  {{ block.super }}
  <i class="fa fa-angle-right"></i>
  <a href="{{ post.get_absolute_url }}">{{ post.label }}</a>
{% endblock breadcrumbs %}


{% block page_title %}
  {{ post.label }}
{% endblock page_title %}

{% block content %}

  <div class="row no-margin-bottom">
    <div class="col s12">
      <span>
        <i class="fa fa-calendar"></i> {{ post.publish_date }}
      </span>
      <span class="margin-left tooltipped pointer"  data-tooltip="Creation date: {{ post.creation_date }}" data-position="top">
        <i class="fa fa-user"></i> {{ post.created_by.get_full_name }}
      </span>
      {% if post.last_edit_by %}
        <span class="margin-left tooltipped pointer grey-text text-lighten-1"
              data-tooltip="Last edit: {{ post.last_edit_by.get_full_name }} - {{ post.last_edit_date }}" data-position="top">
          <i class="fa fa-edit"></i>
        </span>
      {% endif %}
      <span class="badge-label right margin-left social-media-planner-post-status-{{ post.status.codename }}">Status: {{ post.status }}</span>
      <span class="badge-label right margin-right margin-left" style="color: {{ post.key_content.key_content_text_color }}; background-color: {{ post.key_content.color }};"><i class="fa fa-sitemap"></i> {{ post.key_content }}</span>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      {% for tag in post.tags.all %}
        <div class="chip">{{ tag }}</div>
      {% endfor %}
    </div>
  </div>

  <div class="row">
    {% if post.publishers.all %}
      <span class="grey-text margin-right">Publishers: {% for user in post.publishers.all %}<span class="black-text">{{ user.get_full_name }}</span>{% if not forloop.last %}, {% endif %}{% endfor %}</span>
    {% endif %}
    {% if post.help_needed_from.all %}
      <span class="grey-text margin-right">Help needed! Asked to: {% for user in post.help_needed_from.all %}<span class="black-text">{{ user.get_full_name }}</span>{% if not forloop.last %}, {% endif %}{% endfor %}</span>
    {% endif %}
  </div>
  <div class="row">
    <div class="row no-margin">
      <label>Post reason (What's going on / content themes)</label>
      <span class="right tooltipped" data-tooltip="Expected impact">{% for v in post.expected_impact|int_range %}<i class="fa fa-star yellow-text"></i>{% endfor %}</span>
    </div>
    {% if post.post_reason %}
      <p class="bs-callout social-media-planner-post-reason">
        {{ post.post_reason|linebreaksbr }}
      </p>
    {% else %}
      <p class="bs-callout bs-callout-warning">
        Why do you want to create this post?<br />Please, add a post reason in edit form.
      </p>
    {% endif %}
  </div>


  {% with attachments=post.attachments.all %}
    {% if attachments %}
      <div class="row">
        <div class="col s12">
          {% for attachment in attachments %}
            {% if 'image' in attachment.file_type %}
              <div class="chip">
                <img src="{{ attachment.url }}" />
                <a href="{{ attachment.url }}" data-lightbox="{{ post.label }} Attachments" data-title="{{ attachment.name }}">{{ attachment.name }}</a>
              </div>
            {% else %}
              <div class="chip">
                <a href="{{ attachment.url }}" target="_blank">{{ attachment.name }}</a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endwith %}

  {% for post_content in post.post_contents.all %}
    <div class="row">
      <div class="col s1">
        <i class="fa {{ post_content.post_content_type.icon }} fa-3x {% if post_content.is_published %}social-media-planner-post-content-published-color{% endif %}"></i>
        <br/>
        {% if perms.social_media_planner.change_postcontent %}
          <a href="{% url 'social_media_planner:post_content_edit' post.id post_content.id %}">
            <i class="fa fa-edit grey-text"></i>
          </a>
        {% endif %}
        {% if perms.social_media_planner.delete_postcontent %}
          <a href="{% url 'social_media_planner:post_content_delete' post.id post_content.id %}">
            <i class="fa fa-times grey-text"></i>
          </a>
        {% endif %}
      </div>
      <div class="col s11">
        <div class="row no-margin-bottom">
          <h5 class="no-margin-top">
            {% if post_content.title %}{{ post_content.title }}{% else %}{{ post_content.post_content_type }} content{% endif %}
            <span class="right grey-text text-lighten-1 small">
              <span><i class="fa fa-share-alt"></i> {{ post_content.shares }}</span>
              <span><i class="fa fa-heart"></i> {{ post_content.favourites }}</span>
            </span>
          </h5>
        </div>
        <div class="row">
          Written by {{ post_content.created_by.get_full_name }} {{ post_content.creation_date }}
          {% if post_content.last_edit_by %}
            <span class="grey-text text-lighten-1 margin-left">last edit by <i class="fa fa-edit"></i> {{ post_content.last_edit_by.get_full_name }} {{ post_content.last_edit_date }}</span>
          {% endif %}
        </div>
        {% if post_content.publication_date %}
          <div class="row">
            Publicated by {{ post_content.publicated_by.get_full_name }} {{ post_content.publication_date }}
          </div>
        {% endif %}
        {% if post_content.final_link %}
          <div class="row no-margin-bottom">
            Final link: <a href="{{ post_content.final_link }}" target="_blank">{{ post_content.final_link }}</a>
          </div>
        {% endif %}
        {% if post_content.content_notes %}
          <div class="row">
            <div class="bs-callout bs-callout-warning">
              {{ post_content.content_notes|linebreaksbr }}
            </div>
          </div>
        {% endif %}
        <div class="row padding {% if post_content.is_published %}social-media-planner-post-content-published{% elif post_content.is_valid %}social-media-planner-post-content-valid green lighten-5{% else %}social-media-planner-post-content{% endif %}">
          {{ post_content.content|linebreaksbr }}
        </div>

        {% include "social_media_planner/materialize/post/post_detail_post_content_reviews.html" %}

        <div class="row">
          {% if not post_content.is_published %}
            {% if perms.social_media_planner.add_postcontent %}
              <a href="{% url 'social_media_planner:post_content_review_add' post.id post_content.id %}" class="btn btn-small"><i class="fa fa-plus"></i> Add review</a>
            {% endif %}
          {% endif %}
          {% if post_content.post_content_type_checked %}
            {% if perms.social_media_planner.can_validate_post_post_content_type and not post_content.is_published %}
              <span class="margin-left right">
                <form action="{% url 'social_media_planner:post_content_invalidate' post.id post_content.id 'post_content_type' %}" method="POST" class="no-margin no-padding" style="display: inline-block;">
                  <button type="submit" class="btn btn-small green white-text tooltipped" name="action"
                          data-tooltip="{{ post_content.post_content_type_checked_by.get_full_name }} - {{ post_content.post_content_type_checked_date }}" data-position="top"
                      ><i class="fa fa-check"></i> Content type</button>{% csrf_token %}
                </form>
              </span>
            {% else %}
              <span class="margin-left right green-text tooltipped"
                    data-tooltip="{{ post_content.post_content_type_checked_by.get_full_name }} - {{ post_content.post_content_type_checked_date }}" data-position="top"
                  >
                <i class="fa fa-check"></i> Content type
              </span>
            {% endif %}
          {% else %}
            <span class="right margin-left">
              {% if perms.social_media_planner.can_validate_post_post_content_type and not post_content.is_published %}
                <form action="{% url 'social_media_planner:post_content_validate' post.id post_content.id 'post_content_type' %}" method="POST" class="no-margin no-padding" style="display: inline-block;">
                  <input type="submit" class="btn btn-small" value="Validate content type" />{% csrf_token %}
                </form>
              {% else %}
                <i class="fa fa-question-circle"></i> Content type
              {% endif %}
              </span>
          {% endif %}
          {% if post_content.grammar_checked %}
            {% if perms.social_media_planner.can_validate_post_grammar and not post_content.is_published %}
              <span class="margin-left right">
                <form action="{% url 'social_media_planner:post_content_invalidate' post.id post_content.id 'grammar' %}" method="POST" class="no-margin no-padding" style="display: inline-block;">
                  <button type="submit" class="btn btn-small green white-text tooltipped" name="action"
                          data-tooltip="{{ post_content.grammar_checked_by.get_full_name }} - {{ post_content.grammar_checked_date }}" data-position="top"
                      ><i class="fa fa-check"></i> Grammar</button>{% csrf_token %}
                </form>
              </span>
            {% else %}
              <span class="margin-left right green-text tooltipped"
                    data-tooltip="{{ post_content.grammar_checked_by.get_full_name }} - {{ post_content.grammar_checked_date }}" data-position="top"
                  >
                <i class="fa fa-check"></i> Grammar
              </span>
            {% endif %}
          {% else %}
            <span class="right margin-left">
              {% if perms.social_media_planner.can_validate_post_grammar and not post_content.is_published %}
                <form action="{% url 'social_media_planner:post_content_validate' post.id post_content.id 'grammar' %}" method="POST" class="no-margin no-padding" style="display: inline-block;">
                  <input type="submit" class="btn btn-small" value="Validate grammar" />{% csrf_token %}
                </form>
              {% else %}
                <i class="fa fa-question-circle"></i> Grammar
              {% endif %}
              </span>
          {% endif %}
          {% if post_content.content_checked %}
            {% if perms.social_media_planner.can_validate_post_content and not post_content.is_published %}
              <span class="margin-left right">
                <form action="{% url 'social_media_planner:post_content_invalidate' post.id post_content.id 'content' %}" method="POST" class="no-margin no-padding" style="display: inline-block;">
                  <button type="submit" class="btn btn-small green white-text tooltipped" name="action"
                          data-tooltip="{{ post_content.content_checked_by.get_full_name }} - {{ post_content.content_checked_date }}" data-position="top"
                      ><i class="fa fa-check"></i> Content</button>{% csrf_token %}
                </form>
              </span>
            {% else %}
              <span class="margin-left right green-text tooltipped"
                    data-tooltip="{{ post_content.content_checked_by.get_full_name }} - {{ post_content.content_checked_date }}" data-position="top"
                  >
                <i class="fa fa-check"></i> Content
              </span>
            {% endif %}
          {% else %}
            <span class="right margin-left">
              {% if perms.social_media_planner.can_validate_post_content and not post_content.is_published %}
                <form action="{% url 'social_media_planner:post_content_validate' post.id post_content.id 'content' %}" method="POST" class="no-margin no-padding" style="display: inline-block;">
                  <input type="submit" class="btn btn-small" value="Validate content" />{% csrf_token %}
                </form>
              {% else %}
                <i class="fa fa-question-circle"></i> Content
              {% endif %}
            </span>
          {% endif %}
          {% if perms.social_media_planner.can_publish_post and not post_content.publication_date %}
            <span class="right margin-left">
            {% if post_content.is_valid %}
              <form action="{% url 'social_media_planner:post_content_publish' post.id post_content.id %}" method="POST" class="no-margin no-padding" style="display: inline-block;">
                <input type="submit" class="btn btn-small green" value="Publish" />{% csrf_token %}
              </form>
            {% else %}
              <button class="btn btn-small" disabled="disabled">Publish</button>
            {% endif %}
            </span>
          {% endif %}
        </div>
      </div>
    </div>
    {% if not forloop.last %}
      <hr class="margin-bottom" />
    {% endif %}
  {% endfor %}

  {% if perms.social_media_planner.add_postcontent %}
    <div class="row">
      <div class="col s11 offset-s1">
        <a href="{% url 'social_media_planner:post_content_add' post.id %}" style="font-size: 15px;">
          Add content
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col s1">
        <i class="fa fa-cloud fa-3x grey-text"></i>
      </div>
      <div class="col s11">
        {% for post_content_type in post_content_types %}
          <a class="social-media-planner-post-add-content" href="{% url 'social_media_planner:post_content_add' post.id %}?post-content-type={{ post_content_type.codename }}">
            <i class="fa {{ post_content_type.icon }} fa-3x"></i>
          </a>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if post.feedback %}
    <div class="row">
      <div class="col s12">
        <p class="bs-callout bs-callout-info">
          {{ post.feedback|linebreaksbr }}
        </p>
      </div>
    </div>
  {% else %}
    {% if post.is_published %}
      <div class="row">
        <div class="col s12">
          <p class="bs-callout bs-callout-warning">
            Please add a feedback!
          </p>
        </div>
      </div>
    {% endif %}
  {% endif %}

{% endblock content %}