{% extends "social_media_planner/materialize/post/post_detail.html" %}


{% block page_title %}
  <i class="fa fa-edit"></i> Delete "{{ post_content }}"
{% endblock page_title %}


{% block breadcrumbs %}
  {{ block.super }}
  <i class="fa fa-angle-right"></i>
  <a href="{% url 'social_media_planner:post_content_delete' post.id post_content.id %}">Delete</a>
{% endblock breadcrumbs %}


{% block content %}

  <div class="bs-callout bs-callout-danger">
    <p>Are you sure you want to delete this post content type?</p>
    <div class="align-center">
      <form action="{% url 'social_media_planner:post_content_delete' post.id post_content.id %}" method="post">
        {% csrf_token %}
        <input type="submit" class="btn red" value="Delete" />
        <a href="{{ post_content.post.get_absolute_url }}" class="btn">Back to post</a>
      </form>

    </div>
  </div>

{% endblock content %}