{% extends post_content|yesno:"social_media_planner/materialize/post/post_detail.html,social_media_planner/materialize/post_content/post_content.html" %}


{% block extra_css_plugins %}
  {{ block.super }}
  {% include "social_media_dashboard/shortcuts/forms_css.html" %}
{% endblock extra_css_plugins %}


{% block extra_scripts %}
  {{ block.super }}
  {% include "social_media_dashboard/shortcuts/forms_js.html" %}
  {% include "django_helper_forms/forms/materialize/scripts.html" %}
  <script>
  $(function(){
    $('#id_content').characterCounter();
  });
  </script>
{% endblock extra_scripts %}


{% block page_title %}
  <i class="fa fa-sitemap"></i>
  {% if post_content %}
    Edit "{{ post_content }}"
  {% else %}
    Create post content
  {% endif %}
{% endblock page_title %}


{% block breadcrumbs %}
  {{ block.super }}
  <i class="fa fa-angle-right"></i>
  {% if post_content %}
    <a href="{% url 'social_media_planner:post_content_edit' post.id post_content.id %}">Edit</a>
  {% else %}
    <a href="{% url 'social_media_planner:post_content_add' post.id %}">Add content</a>
  {% endif %}
{% endblock breadcrumbs %}


{% block content %}

  <form action="{{ request.get_full_path }}" method="post" id="post_content_form" class="django form-horizontal">
    {% csrf_token %}

    {% include "django_helper_forms/forms/materialize/form_template.html" %}

    {% include "django_helper_forms/forms/materialize/form_template_bottom.html" %}

  </form>

{% endblock content %}