{% extends post_content_type|yesno:"social_media_planner/materialize/post_content_type/post_content_type_detail.html,social_media_planner/materialize/post_content_type/post_content_type.html" %}


{% block extra_css_plugins %}
  {{ block.super }}
  {% include "social_media_dashboard/shortcuts/forms_css.html" %}
{% endblock extra_css_plugins %}


{% block extra_scripts %}
  {{ block.super }}
  {% include "social_media_dashboard/shortcuts/forms_js.html" %}
  {% include "django_helper_forms/forms/materialize/scripts.html" %}
{% endblock extra_scripts %}


{% block page_title %}
  <i class="fa fa-sitemap"></i>
  {% if post_content_type %}
    Edit "{{ post_content_type }}"
  {% else %}
    Create post content type
  {% endif %}
{% endblock page_title %}


{% block breadcrumbs %}
  {{ block.super }}
  <i class="fa fa-angle-right"></i>
  {% if post_content_type %}
    <a href="{% url 'social_media_planner:post_content_type_edit' post_content_type.id %}">Edit</a>
  {% else %}
    <a href="{% url 'social_media_planner:post_content_type_add' %}">Add</a>
  {% endif %}
{% endblock breadcrumbs %}


{% block content %}

  <form action="{{ request.get_full_path }}" method="post" id="post_content_type_form" class="django form-horizontal">
    {% csrf_token %}

    {% include "django_helper_forms/forms/materialize/form_template.html" %}

    {% include "django_helper_forms/forms/materialize/form_template_bottom.html" %}

  </form>

{% endblock content %}