{% extends "social_media_planner/materialize/post_content_type/post_content_type.html" %}


{% block content %}

  <table class="table table-striped table-objects-list table-hover" id="post_content_types_list">
    <thead>
    <tr>
      <th>Label</th>
      <th>Codename</th>
      <th>Icon</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for post_content_type in object_list %}
      <tr>
        <td>
          <a href="{% url 'social_media_planner:post_content_type_detail' post_content_type.id %}">
            {{ post_content_type.label }}
          </a>
        </td>
        <td>
          {{ post_content_type.codename }}
        </td>
        <td>
          <i class="fa {{ post_content_type.icon }}"></i>
        </td>
        <td>
          <!--PERMESSIHERE-->
          {% if perms.social_media_planner.change_postcontenttype %}
            <a href="{% url 'social_media_planner:post_content_type_edit' post_content_type.id %}"><i class="fa fa-edit"></i></a>
          {% endif %}
          {% if perms.social_media_planner.delete_postcontenttype %}
            <a href="{% url 'social_media_planner:post_content_type_delete' post_content_type.id %}"><i class="fa fa-times"></i></a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock content %}
