{% extends "social_media_planner/materialize/post_content_type/post_content_type_detail.html" %}


{% block page_title %}
  <i class="fa fa-comments"></i> Delete "{{ post_content_type }}"
{% endblock page_title %}


{% block breadcrumbs %}
  {{ block.super }}
  <i class="fa fa-angle-right"></i>
  <a href="{% url 'social_media_planner:post_content_type_delete' post_content_type.id %}">Delete</a>
{% endblock breadcrumbs %}


{% block content %}

  <div class="bs-callout bs-callout-danger">
    <p>Are you sure you want to delete this post content type?</p>
    <div class="align-center">
      <form action="{% url 'social_media_planner:post_content_type_delete' post_content_type.id %}" method="post">
        {% csrf_token %}
        <input type="submit" class="btn red" value="Delete" />
        <a href="{{ post_content_type.get_absolute_url }}" class="btn">Back to post content type</a>
      </form>

    </div>
  </div>

{% endblock content %}