{% extends "social_media_planner/materialize/social_media_planner.html" %}


{% block breadcrumbs %}
  {{ block.super }}
  <i class="fa fa-angle-right"></i>
  <a href="{% url 'social_media_planner:post_content_type_list' %}">Post content types</a>
{% endblock breadcrumbs %}


{% block sidebar_title %}
  Post content types
{% endblock sidebar_title %}


{% block sidebar %}
  {{ block.super }}
  <a href="{% url 'social_media_planner:post_content_type_list' %}" class="collection-item"><i class="fa fa-list"></i> List post content types</a>
  {% if perms.social_media_planner.change_postcontenttype %}
    <a href="{% url 'social_media_planner:post_content_type_add' %}" class="collection-item"><i class="fa fa-plus"></i> Add post content type</a>
  {% endif %}
{% endblock sidebar %}
