{% extends "social_media_planner/materialize/post_content_type/post_content_type.html" %}


{% block sidebar %}
  {{ block.super }}
  <!--PERMESSIHERE-->
  {% if perms.social_media_planner.change_post_content_type %}
    <a href="{% url 'social_media_planner:post_content_type_edit' post_content_type.id %}" class="collection-item"><i class="fa fa-edit"></i> Edit post content type</a>
  {% endif %}
  {% if perms.social_media_planner.delete_post_content_type %}
    <a href="{% url 'social_media_planner:post_content_type_delete' post_content_type.id %}" class="collection-item"><i class="fa fa-times"></i> Delete post content type</a>
  {% endif %}
{% endblock sidebar %}


{% block breadcrumbs %}
  {{ block.super }}
  <i class="fa fa-angle-right"></i>
  <a href="{{ post_content_type.get_absolute_url }}">{{ post_content_type.label }}</a>
{% endblock breadcrumbs %}


{% block page_title %}
  {{ post_content_type.label }}
{% endblock page_title %}

{% block content %}

  <div class="row">
    <div class="col s12 m6">
      <table class="table">
        <tr>
          <th>Label</th>
          <td>{{ post_content_type.label }}</td>
        </tr>
        <tr>
          <th>Codename</th>
          <td>{{ post_content_type.codename }}</td>
        </tr>
        <tr>
          <th>Icon</th>
          <td>
            {{ post_content_type.icon }}
            {% if post_content_type.icon %}
              <i class="fa {{ post_content_type.icon }}"></i>
            {% endif %}
          </td>
        </tr>
      </table>
    </div>
    <div class="col s12 m6">
    </div>
  </div>


{% endblock content %}