{{ attachments_formset.management_form }}
<table class="striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>URL</th>
    <th width="40">Image</th>
    <th width="40">Delete</th>
  </tr>
  </thead>
  <tbody>
  {% for form in attachments_formset %}
    <tr>
      <td>
        <input type="text" placeholder="Name" value="{{ form.name.value|default:'' }}" name="{{ form.name.html_name }}" id="{{ form.name.auto_id }}" />
        <input type="hidden" value="{{ form.id.value|default:'' }}" name="{{ form.id.html_name }}" id="{{ form.id.auto_id }}" />
      </td>
      <td>
        {% if form.instance.file_size %}
          <input type="text" placeholder="URL" value="{{ form.path.value }}" disabled="disabled" />
          <input type="hidden" placeholder="URL" value="{{ form.path.value }}" name="{{ form.path.html_name }}" id="{{ form.path.auto_id }}" />
        {% else %}
          <input type="text" placeholder="URL" value="{{ form.path.value|default:'' }}" name="{{ form.path.html_name }}" id="{{ form.path.auto_id }}" />
        {% endif %}
      </td>
      <td style="text-align: center">
        {% if not form.instance.id %}
          <input type="checkbox" name="{{ form.is_image.html_name }}" id="{{ form.is_image.auto_id }}" />
          <label for="{{ form.is_image.auto_id }}"><i class="fa fa-file-image-o "></i></label>
        {% endif %}
      </td>
      <td style="text-align: center">
        {% if form.instance.id %}
          <input type="checkbox" name="{{ form.delete.html_name }}" id="{{ form.delete.auto_id }}" />
          <label for="{{ form.delete.auto_id }}"><i class="fa fa-times"></i></label>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
