{% extends "social_media_dashboard/account_settings.html" %}


{% block extra_css_plugins %}
  {{ block.super }}
  {% include "social_media_dashboard/shortcuts/forms_css.html" %}
{% endblock extra_css_plugins %}


{% block extra_scripts %}
  {{ block.super }}
  {% include "social_media_dashboard/shortcuts/forms_js.html" %}
  {% include "django_helper_forms/forms/materialize/scripts.html" %}
{% endblock extra_scripts %}


{% block page_title %}
  <i class="fa fa-envelope"></i> Edit notifications
{% endblock page_title %}


{% block breadcrumbs %}
  {{ block.super }}
  <i class="fa fa-angle-right"></i>
  <a href="{% url 'social_media_planner:user_profile_notifications_edit' request.user.id %}">Edit notifications</a>
{% endblock breadcrumbs %}


{% block sidebar_title %}

{% endblock sidebar_title %}


{% block sidebar %}
  {% if perms.social_media_planner.send_test_notification %}
    <a target="_blank" href="{% url 'social_media_planner:send_test_notification' %}">Send test notification</a>
  {% endif %}
{% endblock sidebar %}


{% block content %}

  <form action="{{ request.get_full_path }}" method="post" id="user_profile_notifications_form" class="django form-horizontal">
    {% csrf_token %}

    {% include "django_helper_forms/forms/materialize/form_template_hidden.html" %}
    {% include "django_helper_forms/forms/materialize/form_template_errors.html" %}

    <div class="row">
      <div class="col s11 offset-s1">

        <h4>Meetings</h4>
        <div class="row">
          {% with field=form.notification_new_meeting %}
            {% include "django_helper_forms/forms/materialize/form_template_field.html" %}
            <label for="{{ field.auto_id }}">{{ field.help_text }}</label>
          {% endwith %}
        </div>
        <div class="row">
          {% with field=form.notification_meeting_day %}
            {% include "django_helper_forms/forms/materialize/form_template_field.html" %}
            <label for="{{ field.auto_id }}">{{ field.help_text }}</label>
          {% endwith %}
        </div>

        <h4>Posts</h4>
        <div class="row">
          {% with field=form.notification_new_post %}
            {% include "django_helper_forms/forms/materialize/form_template_field.html" %}
            <label for="{{ field.auto_id }}">{{ field.help_text }}</label>
          {% endwith %}
        </div>
        <div class="row">
          {% with field=form.notification_edit_my_post %}
            {% include "django_helper_forms/forms/materialize/form_template_field.html" %}
            <label for="{{ field.auto_id }}">{{ field.help_text }}</label>
          {% endwith %}
        </div>
        <div class="row">
          {% with field=form.notification_need_my_help %}
            {% include "django_helper_forms/forms/materialize/form_template_field.html" %}
            <label for="{{ field.auto_id }}">{{ field.help_text }}</label>
          {% endwith %}
        </div>

        <h4>Post contents</h4>
        <div class="row">
          {% with field=form.notification_new_post_content %}
            {% include "django_helper_forms/forms/materialize/form_template_field.html" %}
            <label for="{{ field.auto_id }}">{{ field.help_text }}</label>
          {% endwith %}
        </div>
        <div class="row">
          {% with field=form.notification_edit_my_post_content %}
            {% include "django_helper_forms/forms/materialize/form_template_field.html" %}
            <label for="{{ field.auto_id }}">{{ field.help_text }}</label>
          {% endwith %}
        </div>
        <div class="row">
          {% with field=form.notification_review_my_post_content %}
            {% include "django_helper_forms/forms/materialize/form_template_field.html" %}
            <label for="{{ field.auto_id }}">{{ field.help_text }}</label>
          {% endwith %}
        </div>
        <div class="row">
          {% with field=form.notification_validate_my_post_content %}
            {% include "django_helper_forms/forms/materialize/form_template_field.html" %}
            <label for="{{ field.auto_id }}">{{ field.help_text }}</label>
          {% endwith %}
        </div>
        <div class="row">
          {% with field=form.notification_publish_my_post_content %}
            {% include "django_helper_forms/forms/materialize/form_template_field.html" %}
            <label for="{{ field.auto_id }}">{{ field.help_text }}</label>
          {% endwith %}
        </div>
        <div class="row">
          {% with field=form.notification_read_my_review %}
            {% include "django_helper_forms/forms/materialize/form_template_field.html" %}
            <label for="{{ field.auto_id }}">{{ field.help_text }}</label>
          {% endwith %}
        </div>

        <h4>Publishing</h4>
        <div class="row">
          {% with field=form.notification_publish_post %}
            {% include "django_helper_forms/forms/materialize/form_template_field.html" %}
            <label for="{{ field.auto_id }}">{{ field.help_text }}</label>
          {% endwith %}
        </div>
        <div class="row">
          {% with field=form.notification_publish_post_reminder %}
            {% include "django_helper_forms/forms/materialize/form_template_field.html" %}
            <label for="{{ field.auto_id }}">{{ field.help_text }}</label>
          {% endwith %}
        </div>

      </div>
    </div>

    {% include "django_helper_forms/forms/materialize/form_template_bottom.html" %}

  </form>

{% endblock content %}