{% extends "social_media_planner/materialize/social_media_planner.html" %}


{% block breadcrumbs %}
  {{ block.super }}
  <i class="fa fa-angle-right"></i>
  <a href="{% url 'social_media_planner:meeting_list' %}">Meetings</a>
{% endblock breadcrumbs %}


{% block sidebar_title %}
  Meetings
{% endblock sidebar_title %}


{% block sidebar %}
  {{ block.super }}
  <a href="{% url 'social_media_planner:meeting_list' %}" class="collection-item"><i class="fa fa-list"></i> List meetings</a>
  {% if perms.social_media_planner.change_meeting %}
    <a href="{% url 'social_media_planner:meeting_add' %}" class="collection-item"><i class="fa fa-plus"></i> Add meeting</a>
  {% endif %}
{% endblock sidebar %}
