{% extends "social_media_planner/materialize/meeting/meeting.html" %}


{% block content %}

  <table class="table table-striped table-objects-list table-hover" id="meetings_list">
    <thead>
    <tr>
      <th>Title</th>
      <th>Meeting date</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for meeting in object_list %}
      <tr>
        <td>
          <a href="{% url 'social_media_planner:meeting_detail' meeting.id %}">
            {{ meeting.title }}
          </a>
        </td>
        <td>
          {{ meeting.meeting_date }}
        </td>
        <td>
          <!--PERMESSIHERE-->
          {% if perms.social_media_planner.change_meeting %}
            <a href="{% url 'social_media_planner:meeting_edit' meeting.id %}"><i class="fa fa-edit"></i></a>
          {% endif %}
          {% if perms.social_media_planner.delete_meeting %}
            <a href="{% url 'social_media_planner:meeting_delete' meeting.id %}"><i class="fa fa-times"></i></a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock content %}
