{% extends "social_media_planner/materialize/meeting/meeting.html" %}


{% block sidebar %}
  {{ block.super }}
  <!--PERMESSIHERE-->
  {% if perms.social_media_planner.change_meeting %}
    <a href="{% url 'social_media_planner:meeting_edit' meeting.id %}" class="collection-item"><i class="fa fa-edit"></i> Edit meeting</a>
  {% endif %}
  {% if perms.social_media_planner.delete_meeting %}
    <a href="{% url 'social_media_planner:meeting_delete' meeting.id %}" class="collection-item"><i class="fa fa-times"></i> Delete meeting</a>
  {% endif %}
{% endblock sidebar %}


{% block breadcrumbs %}
  {{ block.super }}
  <i class="fa fa-angle-right"></i>
  <a href="{{ meeting.get_absolute_url }}">{{ meeting.title }}</a>
{% endblock breadcrumbs %}


{% block page_title %}
  {{ meeting.title }}
{% endblock page_title %}

{% block content %}

  <div class="row">
    <div class="col s12">
      <h4 class="no-margin-top no-margin-bottom">
        <i class="fa fa-calendar"></i> {{ meeting.meeting_date }}
      </h4>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <h5>Topics</h5>
      <p class="bs-callout">
        {{ meeting.topics|linebreaksbr }}
      </p>
    </div>
    <div class="col s12 m6">
      <h5>Participants</h5>
      <p class="">
        {% if meeting.participants.all %}
          {% for user in meeting.participants.all %}
            {{ user.get_full_name }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        {% else %}
          <p>No one has attended this meeting.</p>
        {% endif %}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <h5>Report</h5>
      {% if meeting.short_report %}
        <p class="">
          {{ meeting.short_report|linebreaksbr }}
        </p>
      {% else %}
        <div clasS="bs-callout bs-callout-info">
          <p>There is no report yet</p>
        </div>
      {% endif %}
    </div>
  </div>

{% endblock content %}