{% extends meeting|yesno:"social_media_planner/materialize/meeting/meeting_detail.html,social_media_planner/materialize/meeting/meeting.html" %}


{% block extra_css_plugins %}
  {{ block.super }}
  {% include "social_media_dashboard/shortcuts/forms_css.html" %}
{% endblock extra_css_plugins %}


{% block extra_scripts %}
  {{ block.super }}
  {% include "social_media_dashboard/shortcuts/forms_js.html" %}
  {% include "django_helper_forms/forms/materialize/scripts.html" %}
{% endblock extra_scripts %}


{% block page_title %}
  <i class="fa fa-comments"></i>
  {% if meeting %}
    Edit "{{ meeting }}"
  {% else %}
    Create meeting
  {% endif %}
{% endblock page_title %}


{% block breadcrumbs %}
  {{ block.super }}
  <i class="fa fa-angle-right"></i>
  {% if meeting %}
    <a href="{% url 'social_media_planner:meeting_edit' meeting.id %}">Edit</a>
  {% else %}
    <a href="{% url 'social_media_planner:meeting_add' %}">Add</a>
  {% endif %}
{% endblock breadcrumbs %}


{% block content %}

  <form action="{{ request.get_full_path }}" method="post" id="meeting_form" class="django form-horizontal">
    {% csrf_token %}

    {% include "django_helper_forms/forms/materialize/form_template_hidden.html" %}
    {% include "django_helper_forms/forms/materialize/form_template_errors.html" %}

    <div class="row">
      <div class="col s12 m6">
        {% include "django_helper_forms/forms/materialize/form_template_label_field.html" with field=form.title %}
      </div>
      <div class="col s12 m6">
        {% include "django_helper_forms/forms/materialize/form_template_label_field.html" with field=form.meeting_date active_always=1 %}
      </div>
    </div>

    <div class="row">
      <div class="col s12">

        <div class="input-field select">
          <select id="{{ form.participants.auto_id }}" name="{{ form.participants.html_name }}" multiple class="select2">
            <option value="" disabled>No one</option>
            {% for user in form.fields.participants.queryset %}
              <option value="{{ user.id }}" {% if user in form.instance.participants.all %}selected="selected"{% endif %}>
                {{ user.get_full_name }}
              </option>
            {% endfor %}
          </select>
          {% include "django_helper_forms/forms/materialize/form_template_label.html" with field=form.participants %}
        </div>

        {% include "django_helper_forms/forms/materialize/form_template_label_field.html" with field=form.topics %}
        {% include "django_helper_forms/forms/materialize/form_template_label_field.html" with field=form.short_report %}


      </div>
    </div>

    {% include "django_helper_forms/forms/materialize/form_template_bottom.html" %}

  </form>

{% endblock content %}