{% load static from staticfiles %}

<!doctype html>
<html style="font-family: 'Helvetica Neue', Helvetica, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
<head>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{{ title }}</title>
  
</head>

<body bgcolor="#f6f6f6" style="font-family: 'Helvetica Neue', Helvetica, sans-serif; font-size: 100%; line-height: 1.6em; -webkit-font-smoothing: antialiased; height: 100%; -webkit-text-size-adjust: none; width: 100% !important; margin: 0; padding: 0;">


<table bgcolor="#f6f6f6" style="font-family: 'Helvetica Neue', Helvetica, sans-serif; font-size: 100%; line-height: 1.6em; width: 100%; margin: 0; padding: 20px;">
  <tr style="margin: 0; padding: 0;">
    <td style="margin: 0; padding: 0;"></td>
    <td bgcolor="#FFFFFF" style="clear: both !important; display: block !important; max-width: 600px !important; margin: 0 auto; padding: 20px; border: 1px solid #f0f0f0;">

      <div style="display: block; max-width: 600px; margin: 0 auto; padding: 0;">
        <table style="width: 100%; margin: 0; padding: 0;">
          <tr style="margin: 0; padding: 0;">
            <td style="margin: 0; padding: 0;">
              <table style="width: 100%; margin: 0 0 20px; padding: 0;">
                <tr>
                  <td width="60" align="center" style="vertical-align: middle; margin: 0; padding: 0;" valign="middle">
                    <a href="{{ SITE_PREFIX }}{% url 'home' %}">
                      <img src="{% static 'social_media_dashboard/images/logo.png' %}" style="width: 50px; height: 50px; margin: 0; padding: 0;" />
                    </a>
                  </td>
                  <td style="vertical-align: middle; margin: 0; padding: 0;" valign="middle">
                    <h2 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 28px; line-height: 1.2em; color: #007bb5; font-weight: 200; margin: 0 0 5px 25px; padding: 0;">
                      Social media planner
                    </h2>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="margin: 0; padding: 0;">
              <h3 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 22px; line-height: 1.2em; color: #111111; font-weight: 200; margin: 10px 0; padding: 0;">{{ subject }}</h3>
              <p style="font-family: 'Helvetica Neue', Helvetica, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; background-color: #FdFdFd; margin: 25px 0; padding: 15px; border: 1px solid #90caf9;">{{ content }}</p>

              {% if notification_button_url %}
              <table cellpadding="0" cellspacing="0" border="0" style="font-family: 'Helvetica Neue', Helvetica, sans-serif; font-size: 100%; line-height: 1.6em; width: auto !important; margin: 0 0 10px; padding: 0;">
                <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
                  <td style="font-family: 'Helvetica Neue', Helvetica, sans-serif; font-size: 14px; line-height: 1.6em; border-radius: 25px; text-align: center; vertical-align: top; background-color: #348eda; margin: 0; padding: 0;" align="center" bgcolor="#348eda" valign="top">
                    <a href="{{ notification_button_url }}" style="font-family: 'Helvetica Neue', Helvetica, sans-serif; font-size: 100%; line-height: 2; color: #ffffff; border-radius: 25px; display: inline-block; cursor: pointer; font-weight: bold; text-decoration: none; background-color: #348eda; margin: 0; padding: 0; border-color: #348eda; border-style: solid; border-width: 10px 20px;">{{ notification_button_title }}</a>
                  </td>
                </tr>
              </table>
              {% endif %}

            </td>
          </tr>
        </table>
      </div>

    </td>
    <td style="font-family: 'Helvetica Neue', Helvetica, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;"></td>
  </tr>
</table>

<table style="clear: both !important; width: 100%; margin: 0; padding: 0;">
  <tr style="margin: 0; padding: 0;">
    <td style="margin: 0; padding: 0;"></td>
    <td style="clear: both !important; display: block !important; max-width: 600px !important; margin: 0 auto; padding: 0;">

      <div style="display: block; max-width: 600px; margin: 0 auto; padding: 0;">
        <table style="width: 100%; margin: 0; padding: 0;">
          <tr style="margin: 0; padding: 0;">
            <td align="center" style="margin: 0; padding: 0;">
              <p style="font-size: 12px; line-height: 1.6em; color: #666666; font-weight: normal; margin: 0 0 10px; padding: 0;">Social media planner automatic mailer</p>
              <p style="font-size: 12px; line-height: 1.6em; color: #666666; font-weight: normal; margin: 0 0 10px; padding: 0;">Don't like these annoying emails? You can edit notification alterts from your settings page.
              </p>
            </td>
          </tr>
        </table>
      </div>

    </td>
    <td style="margin: 0; padding: 0;"></td>
  </tr>
</table>

<style type="text/css">
body { -webkit-font-smoothing: antialiased !important; height: 100% !important; -webkit-text-size-adjust: none !important; width: 100% !important; }
</style>
</body>
</html>