{% extends "social_media_planner/materialize/key_content/key_content_detail.html" %}


{% block page_title %}
  <i class="fa fa-comments"></i> Delete "{{ key_content }}"
{% endblock page_title %}


{% block breadcrumbs %}
  {{ block.super }}
  <i class="fa fa-angle-right"></i>
  <a href="{% url 'social_media_planner:key_content_delete' key_content.id %}">Delete</a>
{% endblock breadcrumbs %}


{% block content %}

  <div class="bs-callout bs-callout-danger">
    <p>Are you sure you want to delete this key_content? <strong>All related posts will be deleted.</strong></p>
    <div class="align-center">
      <form action="{% url 'social_media_planner:key_content_delete' key_content.id %}" method="post">
        {% csrf_token %}
        <input type="submit" class="btn red" value="Delete" />
        <a href="{{ key_content.get_absolute_url }}" class="btn">Back to key content</a>
      </form>

    </div>
  </div>

{% endblock content %}