{% extends "social_media_planner/materialize/social_media_planner.html" %}


{% block breadcrumbs %}
  {{ block.super }}
  <i class="fa fa-angle-right"></i>
  <a href="{% url 'social_media_planner:key_content_list' %}">Key contents</a>
{% endblock breadcrumbs %}


{% block sidebar_title %}
  Key contents
{% endblock sidebar_title %}


{% block sidebar %}
  {{ block.super }}
  <a href="{% url 'social_media_planner:key_content_list' %}" class="collection-item"><i class="fa fa-list"></i> List key contents</a>
  {% if perms.social_media_planner.change_keycontent %}
    <a href="{% url 'social_media_planner:key_content_add' %}" class="collection-item"><i class="fa fa-plus"></i> Add key contents</a>
  {% endif %}
{% endblock sidebar %}
