{% extends "social_media_planner/materialize/key_content/key_content.html" %}


{% load django_utils_filters %}


{% block content %}

  <table class="table table-striped table-objects-list table-hover" id="key_contents_list">
    <thead>
    <tr>
      <th>Label</th>
      <th>Codename</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for key_content in object_list %}
      <tr>
        <td>
          <a href="{% url 'social_media_planner:key_content_detail' key_content.id %}">
            {% for i in key_content.level|int_range %}<span class="mptt-son"></span>{% endfor %}
            {{ key_content.label }}
          </a>
        </td>
        {% if request.user.is_superuser %}
          <td>
            {{ key_content.codename }}
          </td>
        {% endif %}
        <td>
          <span class="social-media-planner-key-content-color" style="background-color: {{ key_content.color }}"></span>
        </td>
        <td>
          <!--PERMESSIHERE-->
          {% if perms.social_media_planner.change_keycontent %}
            <a href="{% url 'social_media_planner:key_content_edit' key_content.id %}"><i class="fa fa-edit"></i></a>
          {% endif %}
          {% if perms.social_media_planner.delete_keycontent %}
            <a href="{% url 'social_media_planner:key_content_delete' key_content.id %}"><i class="fa fa-times"></i></a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock content %}
