{% extends "social_media_planner/materialize/key_content/key_content.html" %}


{% block sidebar %}
  {{ block.super }}
  <!--PERMESSIHERE-->
  {% if perms.social_media_planner.change_keycontent %}
    <a href="{% url 'social_media_planner:key_content_edit' key_content.id %}" class="collection-item"><i class="fa fa-edit"></i> Edit key content</a>
  {% endif %}
  {% if perms.social_media_planner.delete_keycontent %}
    <a href="{% url 'social_media_planner:key_content_delete' key_content.id %}" class="collection-item"><i class="fa fa-times"></i> Delete key content</a>
  {% endif %}
{% endblock sidebar %}


{% block breadcrumbs %}
  {{ block.super }}
  <i class="fa fa-angle-right"></i>
  <a href="{{ key_content.get_absolute_url }}">{{ key_content.label }}</a>
{% endblock breadcrumbs %}


{% block page_title %}
  {{ key_content.label }}
{% endblock page_title %}

{% block content %}

  <div class="row">
    <div class="col s12 m6">
      <table class="table">
        <tr>
          <th>Label</th>
          <td>{{ key_content.label }}</td>
        </tr>
        <tr>
          <th>Codename</th>
          <td>{{ key_content.codename }}</td>
        </tr>
        <tr>
          <th>Parent</th>
          <td>
            {% if key_content.parent %}
              <a href="{{ key_content.parent.get_absolute_url }}">{{ key_content.parent }}</a>
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>Color</th>
          <td>
            <span class="social-media-planner-key-content-color" style="background-color: {{ key_content.color }}"></span>
          </td>
        </tr>
      </table>
    </div>
    <div class="col s12 m6">
    </div>
  </div>


{% endblock content %}