{% extends "base.html" %}

{% block page_title %}
  Planner
{% endblock %}

{% block breadcrumbs %}
  <i class="fa fa-angle-right"></i>
  <a href="{% url 'social_media_planner:social_media_planner' %}">Planner</a>
{% endblock breadcrumbs %}

{% block sidebar %}
{% endblock sidebar %}


{% block content %}

  <div class="row no-margin-bottom">
    <ul class="dashboard-icons">
      <li>
        <a href="{% url 'social_media_planner:meeting_list' %}" title="Meetings" class="social-media-planner-menu-icon">
          <i class="fa fa-5x fa-comments"></i>
          <span>Meetings</span>
        </a>
      </li>
      <li>
        <a href="{% url 'social_media_planner:post_list' %}" title="Posts" class="social-media-planner-menu-icon">
          <i class="fa fa-5x fa-pencil-square-o"></i>
          <span>Posts</span>
        </a>
      </li>
    </ul>
  </div>

  <hr />

  <div class="row">
    <ul class="dashboard-icons">
      <li>
        <a href="{% url 'social_media_planner:category_list' %}" title="Categories" class="social-media-planner-menu-icon">
          <i class="fa fa-5x fa-sitemap"></i>
          <span>Categories</span>
        </a>
      </li>
      <li>
        <a href="{% url 'social_media_planner:key_content_list' %}" title="Key contents" class="social-media-planner-menu-icon">
          <i class="fa fa-5x fa-tags"></i>
          <span>Key contents</span>
        </a>
      </li>
      <li>
        <a href="{% url 'social_media_planner:post_content_type_list' %}" title="Post content types" class="social-media-planner-menu-icon">
          <i class="fa fa-5x fa-cloud"></i>
          <span>Post content types (platforms)</span>
        </a>
      </li>
    </ul>
  </div>

{% endblock content %}


{% block extra_scripts %}
  {{ block.super }}
  <script>
    $(function() {

    });
  </script>
{% endblock extra_scripts %}