{% extends category|yesno:"social_media_planner/materialize/category/category_detail.html,social_media_planner/materialize/category/category.html" %}


{% block extra_css_plugins %}
  {{ block.super }}
  {% include "social_media_dashboard/shortcuts/forms_css.html" %}
{% endblock extra_css_plugins %}


{% block extra_scripts %}
  {{ block.super }}
  {% include "social_media_dashboard/shortcuts/forms_js.html" %}
  {% include "django_helper_forms/forms/materialize/scripts.html" %}
{% endblock extra_scripts %}


{% block page_title %}
  <i class="fa fa-sitemap"></i>
  {% if category %}
    Edit "{{ category }}"
  {% else %}
    Create category
  {% endif %}
{% endblock page_title %}


{% block breadcrumbs %}
  {{ block.super }}
  <i class="fa fa-angle-right"></i>
  {% if category %}
    <a href="{% url 'social_media_planner:category_edit' category.id %}">Edit</a>
  {% else %}
    <a href="{% url 'social_media_planner:category_add' %}">Add</a>
  {% endif %}
{% endblock breadcrumbs %}


{% block content %}

  <form action="{{ request.get_full_path }}" method="post" id="category_form" class="django form-horizontal">
    {% csrf_token %}

    {% include "django_helper_forms/forms/materialize/form_template.html" %}

    {% include "django_helper_forms/forms/materialize/form_template_bottom.html" %}

  </form>

{% endblock content %}