{% extends "social_media_planner/materialize/category/category.html" %}


{% block sidebar %}
  {{ block.super }}
  <!--PERMESSIHERE-->
  {% if perms.social_media_planner.change_category %}
    <a href="{% url 'social_media_planner:category_edit' category.id %}" class="collection-item"><i class="fa fa-edit"></i> Edit category</a>
  {% endif %}
  {% if perms.social_media_planner.delete_category %}
    <a href="{% url 'social_media_planner:category_delete' category.id %}" class="collection-item"><i class="fa fa-times"></i> Delete category</a>
  {% endif %}
{% endblock sidebar %}


{% block breadcrumbs %}
  {{ block.super }}
  <i class="fa fa-angle-right"></i>
  <a href="{{ category.get_absolute_url }}">{{ category.label }}</a>
{% endblock breadcrumbs %}


{% block page_title %}
  {{ category.label }}
{% endblock page_title %}

{% block content %}

  <div class="row">
    <div class="col s12 m6">
      <table class="table">
        <tr>
          <th>Label</th>
          <td>{{ category.label }}</td>
        </tr>
        <tr>
          <th>Codename</th>
          <td>{{ category.codename }}</td>
        </tr>
        <tr>
          <th>Icon</th>
          <td>
            {{ category.icon }}
            {% if category.icon %}
              <i class="fa {{ category.icon }}"></i>
            {% endif %}
          </td>
        </tr>
      </table>
    </div>
    <div class="col s12 m6">
    </div>
  </div>


{% endblock content %}