{% extends "social_media_planner/materialize/category/category.html" %}


{% block content %}

  <table class="table table-striped table-objects-list table-hover" id="categorys_list">
    <thead>
    <tr>
      <th>Label</th>
      {% if request.user.is_superuser %}
        <th>Codename</th>
      {% endif %}
      <th>Icon</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for category in object_list %}
      <tr>
        <td>
          <a href="{% url 'social_media_planner:category_detail' category.id %}">
            {{ category.label }}
          </a>
        </td>
        {% if request.user.is_superuser %}
          <td>
            {{ category.codename }}
          </td>
        {% endif %}
        <td>
          <i class="fa {{ category.icon }}"></i>
        </td>
        <td>
          <!--PERMESSIHERE-->
          {% if perms.social_media_planner.change_category %}
            <a href="{% url 'social_media_planner:category_edit' category.id %}"><i class="fa fa-edit"></i></a>
          {% endif %}
          {% if perms.social_media_planner.delete_category %}
            <a href="{% url 'social_media_planner:category_delete' category.id %}"><i class="fa fa-times"></i></a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock content %}
