{% extends "social_media_planner/materialize/category/category_detail.html" %}


{% block page_title %}
  <i class="fa fa-comments"></i> Delete "{{ category }}"
{% endblock page_title %}


{% block breadcrumbs %}
  {{ block.super }}
  <i class="fa fa-angle-right"></i>
  <a href="{% url 'social_media_planner:category_delete' category.id %}">Delete</a>
{% endblock breadcrumbs %}


{% block content %}

  <div class="bs-callout bs-callout-danger">
    <p>Are you sure you want to delete this category?</p>
    <div class="align-center">
      <form action="{% url 'social_media_planner:category_delete' category.id %}" method="post">
        {% csrf_token %}
        <input type="submit" class="btn red" value="Delete" />
        <a href="{{ category.get_absolute_url }}" class="btn">Back to category</a>
      </form>

    </div>
  </div>

{% endblock content %}