{% extends "social_media_planner/materialize/social_media_planner.html" %}


{% block breadcrumbs %}
  {{ block.super }}
  <i class="fa fa-angle-right"></i>
  <a href="{% url 'social_media_planner:category_list' %}">Categories</a>
{% endblock breadcrumbs %}


{% block sidebar_title %}
  Categories
{% endblock sidebar_title %}


{% block sidebar %}
  {{ block.super }}
  <a href="{% url 'social_media_planner:category_list' %}" class="collection-item"><i class="fa fa-list"></i> List categories</a>
  {% if perms.social_media_planner.change_category %}
    <a href="{% url 'social_media_planner:category_add' %}" class="collection-item"><i class="fa fa-plus"></i> Add category</a>
  {% endif %}
{% endblock sidebar %}
